* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    font-family: "Quicksand", sans-serif;
    color: #fff;
    line-height: 1.5;
    background-color: #232220;
  }
  h6 {
    font-family: "Pacifico", cursive;
  }
  a {
    text-decoration: none;
  }
  p {
    font-size: 18px;
    line-height: 28px;
    color: #c2d0da;
  }
  ul {
    list-style: none;
  }
  .ml-2 {
    margin-left: 0.5rem !important;
  }
  
  .middle {
    background-image: url(../img/banner2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
  }
  .middle::before {
    content: "";
    background: rgb(16 15 19 / 66%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
  }
  .middle__content {
    max-width: 700px;
    margin: 0 auto;
  }
  .middle__title {
    font-size: 45px;
    max-width: 700px;
    line-height: 55px;
    font-weight: 600;
  }
  .btn-style,
  .btn-light {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
  }
  .btn-light {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
  }
  .btn-primary {
    background-color: #f60;
    border: 2px solid #f60;
  }
  .btn-light:hover {
    background-color: #fff !important;
    color: #f60 !important;
    border: 2px solid #fff !important;
  }
  .btn-primary:hover {
    background-color: #f60 !important;
    border: 2px solid #f60 !important;
    opacity: 0.8;
  }
  
  /* stats */
  .stats {
    margin-top: -70px;
    z-index: 10;
    position: relative;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .counter {
    background-color: #232220;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    padding: 40px 20px;
    text-align: center;
    border-radius: 6px;
    transition: 0.3s ease;
  }
  .counter i {
    background-color: #f60;
    font-size: 26px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    line-height: 68px;
    color: #fff;
    text-align: center;
  }
  .timer {
    font-size: 2.6em;
    font-weight: 600;
    color: #eee;
  }
  .count-text {
    color: #c2d0da;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 0;
  }
  .counter:hover {
    transform: translateY(-5px);
    box-shadow: rgba(255, 255, 255, 0.08) 1px 1px 5px 0px;
  }
  /* popup video */
  .popup__img {
    background: url(../img/banner3.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
    min-height: 500px;
    border-radius: 6px;
  }
  .popup__img::before {
    content: "";
    background: rgb(16 15 19 / 60%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 6px;
  }
  .play-view {
    right: 0;
    left: 0;
    top: calc(50% - 40px);
  }
  .new-block {
    background: #232220;
  }
  .popup-video .video-play-icon:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
    background: #f60;
    border: transparent;
    color: #fff;
  }
  .video-play-icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 26px;
    padding-left: 2px;
    text-align: center;
    line-height: 76px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    animation: ripple 1s linear infinite;
    color: #f60;
    border: transparent;
    background: #fff;
  }
  .mfp-hide{
      display: none !important;
  }
  #small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
  }
  div#small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
  }
  .mfp-close-btn-in .mfp-close {
    color: #fff;
  }
  .mfp-close,
  .mfp-close:active {
    top: -40px;
  }
  
  .my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }
  
  .my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    transform: scale(1);
  }
  
  .my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    transform: scale(0.8);
    opacity: 0;
  }
  
  .my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  
  .my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.95;
  }
  
  .my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
  }
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
        0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }
  
    100% {
      box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
        0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
  }
  
  /* blogs */
  .blog {
    background-color: #282828;
  }
  .title-sub {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #f60;
    display: block;
  }
  .title-main {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
  }
  .card {
    position: relative;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: none;
    border-radius: 0;
  }
  .card-header {
    border: none;
  }
  .card-header img {
    border-radius: 6px;
  }
  .post-pos {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  .post-pos a {
    background-color: #f60;
    color: #fff;
    padding: 3px 20px;
    border-radius: 35px;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
    letter-spacing: 0.05em;
  }
  .meta-info {
    opacity: 1;
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
    letter-spacing: 0.02em;
  }
  .blog-desc {
    display: block;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    color: #eee;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .blog-desc:hover {
    color: #eee;
  }
  .p-footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
  }
  .p-meta-info {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: 10px;
    justify-content: flex-start;
  }
  .p-meta-info a {
    font-weight: 700;
    color: #eee;
    letter-spacing: 0.02em;
  }
  .p-meta-info img {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
  }
  .blog a.read {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #eee;
    opacity: 0.9;
    transition: 0.2s;
  }
  a.read:hover {
    color: #f60;
  }
  
  /* testimonials */
  .testimonial-content {
    max-width: 700px;
    margin: auto;
  }
  .testimonials a.comment-img {
    left: 0px;
    top: 0px;
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .testimonials blockquote q {
    font-size: 24px;
    line-height: 36px;
    color: #eee;
    font-weight: 600;
    font-style: italic;
  }
  .testimonials blockquote q::before {
    font-size: 50px;
    color: #f60;
    display: block;
    font-family: initial;
  }
  .people-info h3 {
    font-size: 20px;
  }
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #f60;
  }
  
  /* footer */
  .footer {
    background-color: #000;
  }
  .footer p {
    font-size: 17px;
    line-height: 26px;
    color: #a5a2a1;
  }
  .brand {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    transition: 0.2s;
  }
  .brand:hover {
    color: #f60;
  }
  .social a {
    margin-right: 10px;
    color: #f60;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background: #232220;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 6px;
    transition: 0.3s;
  }
  .social a:hover {
    color: #fff;
    background: #f60;
  }
  .footer .footer__title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: 700;
    position: relative;
    color: #fff;
  }
  .footer li {
    margin-bottom: 10px;
  }
  .footer li a {
    font-size: 17px;
    color: #a5a2a1;
    transition: 0.2s;
  }
  .footer li:hover a {
    color: #f60;
  }
  .footer input {
    padding: 14px 20px;
    font-size: 18px;
    line-height: 28px;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    color: #c2d0da;
    background: #232220;
    border-radius: 6px;
  }
  .footer input:focus {
    outline: 1px solid #f60;
  }
  /* copyright */
  .copyright {
    padding: 1.2em 0;
    background: #000;
    border-top: 1px solid rgb(255 255 255 / 5%);
  }
  .copyright p {
    align-self: center;
    color: #ddd;
    font-size: 17px;
    margin-bottom: 0;
  }
  .copyright ul {
    margin-bottom: 0;
    padding-left: 0;
  }
  .copyright li a {
    font-size: 17px;
    line-height: 26px;
    color: #a5a2a1;
    transition: 0.2s;
  }
  .copyright li:hover a {
    color: #f60;
  }
  .text-link {
    color: #f60;
    transition: 0.2s;
  }
  .text-link:hover {
    color: #fff;
  }
  #backToTop {
    display: none;
    position: fixed;
    bottom: 55px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #f60;
    padding: 0;
    line-height: 36px;
    border-radius: 35px;
    transition: 0.3s ease-out;
  }
  
  @media (min-width: 576px) {
    .mr-2 {
      margin-right: 0.5rem !important;
    }
  }
  @media (min-width: 992px) {
    .mr-lg-4 {
      margin-right: 1.5rem !important;
    }
  }
  